<app-driver-detail-view
  [driverDetail]="driverDetail"
  [currentTab]="currentTab"
  [quickNote]="quickNote"
  [reviewerDecisionNote]="reviewerDecisionNote"
  [internalReviewNote]="internalReviewNote"
  [selectedRejectionReason]="selectedRejectionReason"
  [mapPreviewUrl]="mapPreviewUrl"
  [previewType]="previewType"
  [selectedTask]="selectedTask"
  [selectedIncident]="selectedIncident"
  [isLoading]="isLoading"
  (editDriverRequested)="editDriver()"
  (openTasksRequested)="openTasks()"
  (toggleSuspensionRequested)="toggleSuspension()"
  (tabChange)="setTab($event)"
  (quickNoteChange)="quickNote = $event"
  (quickNoteAdded)="addQuickNote()"
  (reviewerDecisionNoteChange)="reviewerDecisionNote = $event"
  (internalReviewNoteChange)="internalReviewNote = $event"
  (selectedRejectionReasonChange)="selectedRejectionReason = $event"
  (taskPreviewRequested)="openTaskPreview($event)"
  (incidentPreviewRequested)="openIncidentPreview($event)"
  (previewClosed)="closePreview()"
  (previewActionClick)="handlePreviewAction($event)">
</app-driver-detail-view>
