<app-drivers-list-view
  [isRTL]="isRTL"
  [searchTerm]="searchTerm"
  [drivers]="drivers"
  [filters]="filters"
  [filterFields]="filterFields"
  [isFiltersExpanded]="isFiltersExpanded"
  [hasActiveFilters]="hasActiveFilters"
  [kpiCards]="kpiCards"
  [isLoading]="isLoading"
  [showError]="showError"
  [errorMessage]="errorMessage"
  [pageNumber]="pageNumber"
  [pageSize]="pageSize"
  [totalCount]="totalCount"
  (searchTermChange)="searchTerm = $event"
  (searchRequested)="onSearch()"
  (filtersChanged)="onFiltersChange($event)"
  (filtersReset)="onFilterReset()"
  (toggleFiltersRequested)="toggleFilters()"
  (kpiCardSelected)="onKPICardClick($event)"
  (rowSelected)="onTableRowClick($event)"
  (pageChanged)="changePage($event)">
</app-drivers-list-view>
